<table class="table table-sm table-striped table-bordered">

    <thead>
        <tr>
            <th colspan="5" class="text-center">@TableTitle</th>
        </tr>
    </thead>

    <tbody>
        @if (Orders?.Count() > 0)
            {
                @foreach(Order o in Orders)
                {
                <tr>
                    <td>@o.FirstName</td>
                    <td>@o.LastName</td>
                    <td>@o.AddressLine1</td>
                    <td>@o.Zip</td>
                    <td>@o.City</td>
                    <td>@o.State</td>
                    <td>@o.Country</td>

                    <td>
                        <button class="btn btn-sm btn-danger" @onclick="@(x => OrderSelected.InvokeAsync(o.UserId))">
                            @ButtonLabel
                        </button>
                    </td>
                </tr>

                @foreach (BasketLineItem bli in o.Lines)
                    {
                        <tr>
                            <td>@bli.Book.Title</td>
                            <td>@bli.Quantity</td>
                        </tr>
                    }
                }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Books Ordered</td>
            </tr>
        }
    </tbody>

</table>
@code {

    [Parameter]
    public string TableTitle { get; set; } = "Orders";

    [Parameter]
    public IEnumerable<Order> Orders { get; set; }

    [Parameter]
    public string ButtonLabel { get; set; } = "Shipped";

    [Parameter]
    public EventCallback<int> OrderSelected { get; set; }
}
